{% extends "layout.html" %}

{% block title %}
    Bought
{% endblock %}

{% block main %}
    <header>
        <div class="alert alert-primary border text-center" role="alert">Bought!</div>
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in stockList %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["stock"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>${{ row["price"] }}</td>
                <td>${{ row["total"] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>${{cashLeft}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>${{totalVal}}</b></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}